.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0 16px;
  background-color: rgb(236, 214, 235);
  height: 72px;
  width: auto;
}

.leftBox{
  display: flex;
}

.rightBox {
  display: flex;
}

.navLinks {
  padding: 16px;
  text-decoration: none;
}

.logo {
  padding-top: 8px;
  width: 160px;
}